@font-face {
    font-family: "iconfont";
    src: url('iconfont.woff') format('woff'),
	url('iconfont.woff2') format('woff2');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont.icon_close_small:before{
    content: "\E6CD";
}
.iconfont.icon-top:before{
    content: "\E679";
}